name: YonoTV API Sync
on:
  schedule:
    - cron: '0 * * * *' # Runs every 1 hour
  workflow_dispatch: # Allows you to click a button to run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install PyGithub requests

      - name: Execute Script
        env:
          MY_GIT_TOKEN: ${{ secrets.MY_GIT_TOKEN }}
        run: python update.py
